.programentry {
  width: 100%;
}

.time {
  display: inline-flex;
  justify-content: space-between;
  cursor: pointer;
  opacity: 1;
  font-size: var(--header-size-sm);
  width: 100%;
  padding: 20px 0;
}
.time > * {
  pointer-events: none;
}
.time img {
  height: 36px;
}

.programentry > h2 {
  padding-bottom: 30px;
  /* color: var(--moyo-c2); */
  font-size: var(--parag-size-md);
  font-weight: 400;
}

.description {
  overflow: hidden;
  border-right: 1px dashed;
  border-left: 1px dashed;
  padding: 0 var(--padding);
  /* border-radius: 20px; */
}
.description > div {
  margin-bottom: 30px;
}
.description h2 {
  margin-bottom: 15px;
}
.description p {
  margin-bottom: 0.5em;
  padding-left: var(--padding);
  font-size: var(--parag-size-md);
}

/* --------- mobile --------- */
@media (max-width: 699px) {
  .description p {
    padding-left: 0;
  }
  .time img {
    height: 28px;
  }
}